body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
h4 {
  font-size: 20px;
}
.orange-color {
  color: orange;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 8px 25px;
  border-radius: 35px;
  color: white;
  font-weight: 700;
}
section {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 2%;
}
.section-one {
  background-image: url(images/sectionone\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img {
  background-size: auto;
  width: 30%;
}
.about-us {
  text-align: center;
  margin-top: 8%;
  margin-right: 10%;
  padding: 3%;
}
.sectwo-img {
  width: 50%;
  height: 85%;
  margin-top: 14%;
  margin-left: 18%;
}
.section-two {
  background-image: url(images/sectiontwo\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
